$black: #2b2a2c;
$gray: #6a696b;
$gray-light: #a0a0a0;
$gray-green: #7aa3b6;
$semi-white: #b9b9b9;
$white: #fff;
$green: #395866;
$light-green: #577b8b;
$golden: #a0967d;
$science: #e5d3f5;
$tech: #c9dee3;
$health: #e7dad2;

$brain-stem-bg-color: #ff6584;
$cerebellum-bg-color: #7cffde;
$frontal-lobe-bg-color: #6aeeff;
$occipital-lobe-bg-color: #ffd477;
$parietal-lobe-bg-color: #ffb0bd;
$temporal-lobe-bg-color: #aca8ff;
// @mobile-sm: ~"(max-width: 565px)";
// @mobile: ~"(max-width: 767px)";
// @tablet: ~"(max-width: 991px)";
// @notebook: ~"(max-width: 1199px)";
