// main: ../style.less
@import '../../../vars';
@import '../../../libs';
@import '../../../fonts';
.nav {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  &__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .call__block {
    display: none;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-around;
    overflow-y: hidden;
    overflow-x: hidden;
    .call__block {
      display: flex;
      padding: 0.5rem 1rem;
      font-weight: 600;
      .nav__btn {
        font-size: 1.1rem;
        color: $green;
      }
    }

    background-color: #fff;

    display: none;

    &.show {
      display: flex;
      .nav__block {
        padding-top: 40px;
      }
    }
  }
}

.nav__link {
  margin-bottom: 0.8rem;
  position: relative;
  font-family: 'IBMPlexSans';
  font-size: 1rem;
  color: $green;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  &:after {
    content: '';
    width: 0;
    height: 2px;
    background-color: $green;

    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;

    transition: width 0.5s linear;
  }
  &:hover {
    color: $light-green;
  }
  &:hover:not(.nav__link--btn) {
    &:after {
      width: 100%;
    }
  }

  /* Modificators */
  &--btn {
    padding: 0.66rem 2rem;

    border: 2px solid $black;
    border-radius: 20px;

    transition: background-color 0.2s linear, color 0.2s linear;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0;
    padding: 0.5rem 1rem;
  }
}
